<%- include('./partials/header.ejs') %>


<% if (!user) { %>
<p>Sign in or sign up to get started.</p>
<% } else { %>
    
    <h1>Welcome to The Cars Show!</h1>
<% } %>
<%- include('./partials/footer.ejs') %>
