<%- include('../partials/header.ejs') %>

<h2>Add New Car</h2>

  <form action="/cars/new" method="POST">
  <input type="hidden" name="owner" value="<%= user._id %>" />
  <input type="text" name="model" placeholder="Model" required />
  <input type="number" name="year" placeholder="Year" required />
  <input type="text" name="condition" placeholder="Condition" required />
  <select name="isAvailable">
    <option value="true">Available</option>
    <option value="false">Not Available</option>
  </select>
  <input type="number" name="price" placeholder="Price" required />


  <button type="submit">Add Car</button>
</form>

<%- include('../partials/footer.ejs') %>
